@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    var Listnumbers = ViewData.Model;
}

<style>

    select {
        min-width: 200px;
        padding: 10px;
    }

    button {
        min-width: 100px;
    }

    .other {
        font-weight: 900 !important;
    }

</style>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <div id="container">
                    <select id="multiples-holder" style="display:none">
                        @if (Listnumbers != null)
                        {
                            foreach (var num in Listnumbers)
                            {
                                <option value="@num">@num</option>
                            }
                        }
                    </select>
                </div>

            </div>



        </div>
        <hr />
        <br />

        <div class="row">
            <div class="col-md-6">
                <span class="col-md-2" for="removeBelowTen">Below Ten</span>
                <div class="col-md-10">
                    <button id="remove" class="btn btn-info btn-sm">Remove</button>
                </div>
            </div>
            <div class="col-md-6">
                <span class="col-md-2" for="lowermultiples">Lower Multiples</span>
                <div class="col-md-10">
                    <button id="bolden" class="btn btn-success btn-sm">Bolden</button>
                </div>
            </div>
        </div>


    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var array = [];
        var ddl = document.getElementById('multiples-holder');
        for (i = 0; i < ddl.options.length; i++) {
            array[i] = ddl.options[i].value;
        }
        console.log(array);

        var select = document.createElement("select");
        select.name = "multiples";
        select.id = "multiples"

        for (const val of array) {
            var option = document.createElement("option");
            option.value = val;
            option.text = val.charAt(0).toUpperCase() + val.slice(1);
            select.appendChild(option);
        }

        var label = document.createElement("label");
        label.innerHTML = "Choose a number: "
        label.htmlFor = "multiples";

        document.getElementById("container").appendChild(label).appendChild(select);



        $("#remove").click(function () {
            if (array.length > 0) {
                var greaterThanTen = array.filter(function (item) {
                    return item > 10;
                });

                select = document.getElementById("multiples");
                var length = select.options.length;
                for (i = length - 1; i >= 0; i--) {
                    select.options[i] = null;
                }

                for (const val of greaterThanTen) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val.charAt(0).toUpperCase() + val.slice(1);
                    select.appendChild(option);
                }

                document.getElementById("container").appendChild(label).appendChild(select);
            }


        });


        $("#bolden").click(function () {

            if (array.length > 0) {
                var multiplesThreeAndFive = array.filter(function (item) {
                    return (item % 3 === 0 && item % 5 === 0);
                });

                var nonmultiplesThreeAndFive = array.filter(function (item) {
                    return (!(item % 3 === 0 && item % 5 === 0));
                });

                console.log(multiplesThreeAndFive);

                select = document.getElementById("multiples");
                var length = select.options.length;
                for (i = length - 1; i >= 0; i--) {
                    select.options[i] = null;
                }

                for (const val of multiplesThreeAndFive) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.classList.add("other");
                    option.text = val.charAt(0).toUpperCase() + val.slice(1);
                    select.appendChild(option);
                }

                document.getElementById("container").appendChild(label).appendChild(select);


                for (const val of nonmultiplesThreeAndFive) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val.charAt(0).toUpperCase() + val.slice(1);
                    select.appendChild(option);
                }

                var sel = $('#multiples');
                var selected = sel.val(); // cache selected value, before reordering
                var opts_list = sel.find('option');
                opts_list.sort(function (a, b)
                {
                    return (a).value - (b).value;
                });
                sel.html('').append(opts_list);
                sel.val(selected); // set cached selected value

            }
        });
    });
</script>

