@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    var Listnumbers = ViewData.Model;
}

<style>
    .box {
        padding-top: 50px;
    }

    .multi {
        min-width: 200px;
    }

    .btn {
        min-width: 100px;
    }
</style>


@using (Html.BeginForm())
{

    <div class="card">
        <div class="card-body">
            <div class="row">
                <label class="col-md-2" for="multiples">Multiples of 3 and 5 </label>
                <div class="col-md-10">
                    <select id="multiples" class="form-select multi" aria-label="Default select example">
                        @if (Listnumbers != null)
                        {
                            <option selected value="">--   Select   --</option>
                            foreach (var num in Listnumbers)
                            {
                                <option value="num">
                                    @num
                                </option>
                            }
                        }
                    </select>
                </div>

            </div>
            <hr />
            <br />

            <div class="row">
                <div class="col-md-6">
                    <span class="col-md-2" for="removeBelowTen">Remove below ten</span>
                    <div class="col-md-10">
                        <button onClick="removeBelowTen() class="btn btn-info btn-sm">Remove</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="col-md-2" for="lowermultiples">Lower Multiples of 3 and 5</span>
                    <div class="col-md-10">
                        <button onClick="bolden() class="btn btn-success btn-sm">Bolden</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {


        function removeBelowTen() {

            var multiples = $("#multiples").val();

            if (multiples) {
                var filtered = multiples.filter(function (value, index, arr) {
                    return value > 10;
                });
                $("#multiples").val(filtered);
                alert("Dropdown list updated!");
            }


        }

        function bolden() {

        }

    });
</script>

